<h1 class="text-center" >Editando Cliente</h1><br>

<%= render 'form' %>
<br>
<%= link_to 'Ver', @client, :class => "btn btn-default" %> |
<%= link_to 'Volver', clients_path, :class => "btn btn-default" %>
