<h1 class="text-center" >Editando Factura</h1> <br>

<%= render 'form' %>

<br><%= link_to 'Ver', @bill, :class => "btn btn-default"%> |
<%= link_to 'Volver', bills_path, :class => "btn btn-default"%>
